
/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    padding: 20px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 300px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: -30px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 0px;
    
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity:1;
}
/* =========================== */

.sidebar header {
    position: relative;
    display: flex;
    justify-content: space-around;
}
.sidebar header .image-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

header .image-text .profession {
    font-size: 40px;
    font-weight: 800;
    text-align: right;
    margin-left: 30px;
}


.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 100px;
    height: 60px;
    border-radius: px;
}


body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}


.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text{
    color: var(--text-color);
}
.bottom-content {
    margin-top: auto;
}

.bottom-content li {
    margin-bottom: 10px;
    margin-left: 0px;
}

.content-wrapper {
    width: calc(100% - 240px); /* Ajusta el ancho según tus necesidades */
    margin-left: 240px; /* Ajusta el margen izquierdo según el ancho de la barra lateral */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Otros estilos personalizados */
}
/*====================dropdown==============*/

.dropdown__content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%; /* Añade el ancho para cubrir todo el índice */
    background-color: rgb(226, 242, 244); /* Cambia el color de fondo si es necesario */
    z-index: 9999; /* Asegura que el menú desplegable esté en la parte superior */
    border-radius: 5px;
    overflow: hidden;
}
.dropdown__anchor:hover {
    color: white;
}
.dropdown__content.show {
    display: block;
}

.dropdown__list {
    position: relative;
}

.dropdown__sub {
    position: relative;
}

.dropdown__content.show .dropdown__sub {
    margin-top: 10px; /* Ajusta este valor según sea necesario */
}

.dropdown__check {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.dropdown__content.show .dropdown__sub .dropdown__li {
    position: static; /* Cambio de "fixed" a "static" para que los elementos se muestren en el flujo normal */
    background-color: rgb(226, 242, 244); /* Ajusta el color y la opacidad según sea necesario */
    
    z-index: 9999; /* Asegura que los elementos se superpongan encima de los demás contenidos */
}

.dropdown__anchor {
    display: flex;
    align-items: center;
    justify-content: center; /* Añade espaciado entre las palabras y la flecha */

}

.dropdown__arrow {
    margin-left: 20px; /* Ajusta el margen según sea necesario */
    font-size: 30px;
    transform: rotate(0deg); /* Establece la rotación inicial de la flecha */
    transition: transform 0.3s ease; /* Agrega una transición suave al girar la flecha */
    color: #707070;
}

.dropdown__content.show .dropdown__arrow {
    transform: rotate(180deg); /* Gira la flecha cuando se muestra el menú desplegable */
}