{% extends "administrator/index_main.html" %}
{% load static %}
{% block content %}
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f7f7f7;
    }

    .form-container {
        width: 100%;
        max-width: 500px;
        padding: 80px;
        border: 1px solid #e2e8f0;
        border-radius: 50px;
        background-color: #ffffff;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .form-container h1 {
        margin-top: 0;
        margin-bottom: 30px;
        font-size: 36px;
        font-weight: bold;
        color: #1A5276;
    }

    .btn {
        width: 100%;
        height: 40px;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 4px;
        background-color: #1A5276;
        border-color: #1A5276;
        color: #ffffff;
        transition: background-color 0.3s ease-in-out;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn:hover {
        background-color: #154360;
    }
</style>

<main role="main">
    <div class="form-container">
        <h1 class="mb-3 text-blue">LISTADO PERFIL</h1>
        <a href="{% url 'list_user_active' group.id %}" class="btn" style="background-color: #75A7C3;">Usuarios activos</a>
        <a href="{% url 'list_user_block' group.id %}" class="btn" style="background-color: #75A7C3;">Usuarios bloqueados</a>
        <a href="{% url 'users_main' %}" class="btn" style="background-color: #75A7C3;">Volver</a>
    </div>
</main>
{% endblock %}