{% extends "administrator/index_main.html" %}
{% load static %}
{% block content %}
{% load humanize%}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

<style>
        body {
            font-family: Arial, sans-serif;
            background-color: #e5ecf3;
        }

    .card {
        margin-left: 380px;
        max-width: 800px;
        margin-top: 50px;
        padding: 20px;
        width: 100%;
        max-width: 1200px;
        padding: 40px;
        border: 1px solid #e2e8f0;
        border-radius: 10px;
        background-color: #ffffff;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    }

    .search-container {
        margin-bottom: 20px;
    }

    .search-input {
        width: 300px;
    }

    .search-button {
        margin-left: 10px;
    }

    .clear-button {
        margin-left: 10px;
    }

    .report-button {

        margin-top: -58px;
        margin-bottom: 60px;
    }

    .product-list th {
        font-weight: bold;
        margin-left: 20px;
    }

    .product-list td {
        vertical-align: middle;
        margin-left: 50px;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-primary:hover {
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-secondary {
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-secondary:hover {
        background-color:#007bff;
        border-color: #007bff;
    }

    .btn-success {
        background-color: #007bff;
        border-color: #ffffff;
    }

    .btn-success:hover {
        background-color: #007bff;
        border-color: #ffffff;
    }

    .btn-danger {
        background-color: #d10707;;
        border-color: #ffffff;
        width: auto;

    }

    .btn-danger:hover {
        background-color: #d10707;;
        border-color: #ffffff;
    }
    .btn-volver {
        background-color: #d10707;;
        border-color: #ffffff;
        width: 200px;
        font-size: 20px;

        margin-left: 460px;
        margin-top: 30px;

    }

    .btn-volver:hover {
        background-color: #d10707;;
        border-color: #ffffff;
    }
</style>

<div class="card">
    <div class="card-body">
        <h2>LISTADO DE PRODUCTO</h2>
        <form method="GET">
            <div class="search-container">
                <div class="d-flex align-items-center">
                    <input type="text" class="search-input custom-width form-control" placeholder="Buscar..." name="buscar" value="{{ buscar }}">
                    <button class="search-button btn btn-primary" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                    <button class="clear-button btn btn-secondary" type="button">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
        </form>
        <div class="text-end">
            <form method="GET" action="{% url 'generar_reporte_prod' %}" target="_blank">
                <input type="hidden" name="buscar" value="{{ buscar }}">
                <button type="submit" class="btn btn-primary report-button narrower-button">Generar PDF</button>
            </form>
        </div>
        <table class="table table-striped table-hover product-list">
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Descripción</th>
                <th>Talla</th>
                <th>Categoría</th>
                <th>stock</th>
                <th>Opciones</th>
            </tr>

            {% for p in productos %}
            <tr>
                <td>{{p.nombre | title}}</td>
                <td>${{p.precio | intcomma}}</td>
                <td>{{p.descripcion | title}}</td>
                <td>{{p.talla | title}}</td>
                <td>{{p.categoria | title}}</td>
                <td>{{p.stock | title}}</td>
                <td>
                    <a href="{% url 'actualizar_producto' p.id %}" class="btn btn-primary">Modificar</a>
                    <a href="{% url 'eliminar_producto' p.id %}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}

        
        </table>
        <div class="row">
            <div class="col-12 col-sm-12">
                <a href="{% url 'admin_main' %}" class="btn btn-danger form-control btn-sm btn-volver">Volver</a>
            </div>
        </div>

        {% if messages %}
        {% for me in messages %}

        <script>
            Swal.fire({
                "title": "ATENCION",
                "text": "{{me}}",
                "icon": "success",
            })
        </script>
        {% endfor %}
        {% endif %}
    </div>
</div>

<script src="https://kit.fontawesome.com/b408879b64.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const searchInput = document.querySelector('.search-input');
        const clearButton = document.querySelector('.clear-button');

        if (searchInput.value === "None") {
            searchInput.value = "";
        }

        searchInput.addEventListener('input', function () {
            clearButton.style.display = this.value ? 'block' : 'none';
        });

        clearButton.addEventListener('click', function () {
            searchInput.value = '';
            clearButton.style.display = 'none';
            
            window.location.href = "{% url 'listar_producto' %}";
        });
    });
</script>



{% endblock %}