{% load static %}
{% block content %}
<style>
  body {
    background-color: #F2F7FB;
  }

  .container {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 40px;
    margin-top: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  h3 {
    color: #1A5276;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  p {
    color: #707B7C;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
  }

  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1A5276;
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .btn:hover {
    background-color: #154360;
  }
</style>

<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-12 mx-auto mb-5">
        <h3 class="mb-4">Restablecimiento de Contraseña Enviado</h3>
        <p>Le hemos enviado por email las instrucciones para restablecer la contraseña, si es que existe una cuenta con la dirección electrónica que indicó. Debería recibirlas en breve.</p>
        <p>Si no recibe un correo, por favor asegúrese de que ha introducido la dirección de correo con la que se registró y verifique su carpeta de spam.</p>
        <a href="/accounts/login/" class="btn">Volver al inicio</a>
      </div>
    </div>
  </div>
</main>
{% endblock %}
