{% extends "administrator/index_main.html" %}
{% load static %}
{% block content %}
{% load humanize%}
{% for orden in ordenes %}
  <h3>{{ orden }}</h3>
  <p>Fecha: {{ orden.fecha }}</p>
  <p>Total: {{ orden.detalles.first.total }}</p>
  <a href="{% url 'editar_orden_compra' orden.id %}">Editar</a>
  <a href="{% url 'eliminar_orden_compra' orden.id %}">Eliminar</a>
  <hr>
{% empty %}
  <p>No hay órdenes de compra disponibles.</p>
{% endfor %}
<div class="d-flex justify-content-center mx-0-5--custom mt-2">
  <a href="{% url 'crear_orden_compra' %}" class="btn btn-dark" >
      Crear Orden de compra

{% endblock %}